{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ShareGood</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'affiliate/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'affiliate/css/modern-business.css' %}" rel="stylesheet">

</head>

<body style="background-color:#fcfce8;">

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">ShareGood</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'privacy' %}">Privacy Policy</a>
          </li>


        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('{% static 'affiliate/images/1.jpg ' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>ShareGood Deals</h3>
            <p>You can find the accessories which makes you a real gamer!</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/2.jpg ' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>ShareGood Deals</h3>
            <p>You can find the accessories which makes you a real gamer!</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/3.jpg ' %}')">
          <div class="carousel-caption d-none d-md-block">
            <h3>ShareGood Deals</h3>
            <p>You can find the accessories which makes you a real gamer!</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>


  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">ShareGood Deals</h1>

    <!-- Marketing Icons Section -->
  

    <!-- Portfolio Section -->
    <h2>Laptops</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3cOPSaA"><img class="card-img-top" src="{% static 'affiliate/images/l1.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3cOPSaA">ASUS TUF Gaming Laptop</a>
            </h4>
            <p class="card-text">NVIDIA GeForce GTX 1650 4GB GDDR5 (Base: 1395MHz, Boost: 1560MHz, TDP: 50W)
              Intel Core i7-9750H Processor (8M Cache, up to 4.5GHz)
              15.6” 144Hz FHD (1920x1080) IPS-Type display
              512GB PCIe NVMe M.2 SSD | 8GB DDR4 2666MHz RAM | Windows 10 Home
              Durable MIL-STD-810G military standard construction
              Dual fans with anti-dust technology
              RGB backlit keyboard rated for 20-million keystroke durability
              Gigabit Wave 2 Wi-Fi 5 (802.11ac) with Bluetooth 5.0
            </p>
            <a href="https://amzn.to/3cOPSaA" class="btn btn-dark">$829.49</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3aVRnkL"><img class="card-img-top" src="{% static 'affiliate/images/l2.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3aVRnkL">ROG Zephyrus G15 (2020) Ultra Slim Gaming Laptop</a>
            </h4>
            <p class="card-text">NVIDIA GeForce RTX 2060 6GB GDDR6 with ROG Boost (Base: 982MHz, Boost: 1198MHz, TDP: 65W)
              AMD Ryzen 7 4800HS processor (up to 4.2GHz)
              15.6” 240Hz 3ms IPS-Type Full HD (1920x1080) PANTONE Validated display
              16GB 3200MHz DDR4 RAM | 1TB PCIe NVMe M.2 SSD | Backlit Precision Gaming Keyboard | Windows 10 Professional
              0.8” thin, 4.85 lbs ultraportable form-factor
              Gig+ Wi-Fi 6 (802.11ax) | USB Type-C Charging Capable
              ROG Intelligent Cooling system with self-cleaning anti-dust tunnels preserves cooling performance and system stability</p>
            <a href="https://amzn.to/3aVRnkL" class="btn btn-dark">$1,399.00</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3aEGxzb"><img class="card-img-top" src="{% static 'affiliate/images/l3.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3aEGxzb">Alienware m15 R3 Gaming Laptop</a>
            </h4>
            <p class="card-text">10th Generation Intel Core i7-10750H Processor
              NVIDIA GeForce RTX 2070 SUPER Graphics Card 8GB
              15.6" Full HD 300Hz 3ms 300-nits 100% sRGB Color Gamut Display
              512GB Solid State Drive, 16GB DDR4 RAM
              RGB per-key backlit keyboard, Killer Wifi AX, Bluetooth, Windows 10</p>
            <a href="https://amzn.to/3aEGxzb" class="btn btn-dark">$1,897.00</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3cNBO0R"><img class="card-img-top" src="{% static 'affiliate/images/l4.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3cNBO0R">HP - Pavilion 15.6" Gaming Laptop </a>
            </h4>
            <p class="card-text">The Pavilion Gaming 15 series offers 15.6-inch entry-level gaming laptops equipped with mid-range hardware. Our test device is powered by a Ryzen 5 4600H APU and a GeForce GTX 1650 GPU. As a result, the laptop has significantly more powerful hardware than its sibling model, which we have already tested. Competitors include devices like the Nexoc GH5 515IG, the Lenovo IdeaPad Gaming 3i 15IMH05, the Asus TUF FX505DT, the Dell G5 15 5590, the Acer Nitro 5 AN515-44, and the MSI Bravo 15.</p>
            <a href="https://amzn.to/3cNBO0R" class="btn btn-dark">$669.98</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/3pXEFIm"><img class="card-img-top" src="{% static 'affiliate/images/l5.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/3pXEFIm">Acer Nitro 5 Gaming Laptop</a>
            </h4>
            <p class="card-text">WORKS WITH ALEXA. </br> 9th Generation Intel Core i5-9300H Processor (Up to 4.1 GHz)
                  15" Full HD Widescreen IPS LED-backlit display | NVIDIA GeForce GTX 1650 Graphics with 4 GB of dedicated GDDR5 VRAM
                  8GB DDR4 2666MHz Memory | 256GB PCIe NVMe SSD (2 x PCIe M.2 slots - 1 slot open for easy upgrades) & 1 - Available hard drive bay
                  LAN: 10/100/1000 Gigabit Ethernet LAN (RJ-45 port) | Wireless: Intel Wireless Wi-Fi 6 AX200 802.11ax
                  Backlit keyboard | Acer Cool Boost technology with twin fans and dual exhaust ports
            </p>
            <a href="https://amzn.to/3pXEFIm" class="btn btn-dark">$749.99</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="https://amzn.to/36OC4sJ"><img class="card-img-top" src="{% static 'affiliate/images/l6.jpg' %}" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://amzn.to/36OC4sJ">ASUS TUF TUF506IU-ES74 Gaming A15 Gaming Laptop</a>
            </h4>
            <p class="card-text">NVIDIA GeForce GTX 1660 Ti 6GB GDDR6 with ROG Boost
                8-core AMD Ryzen 7 4800H Processor 45W (8M Cache, up to 4.2GHz)
                15.6" 144Hz Full HD IPS-Type Display
                16GB DDR4 3200MHz RAM | 512GB PCIe NVMe M.2 SSD | Windows 10 Home
                90WHr battery | Up to 8.7 hours web browsing and up to 12.3 hours video playback
                Durable MIL-STD-810H military standard construction
                Self cleaning dual fans with anti-dust technology to extend system longevity
            </p>
            <a href="https://amzn.to/36OC4sJ" class="btn btn-dark">$1,209.00</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <ul class="pagination justify-content-center">

      <li class="page-item">
        <a class="page-link" href="{% url 'home' %}">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{% url 'products2' %}">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="{% url 'products3' %}">3</a>
      </li>
        

      </ul>
    <br/>
    <hr>
    <br/><br/>
  
    

    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "ogabek20-20";
amzn_assoc_search_bar_position = "bottom";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_search_phrase = "gaming laptops";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "369da13a5ffc26fa5d72363f7cb09914";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
      <div class="col-lg-6">
        <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "true";
amzn_assoc_tracking_id = "ogabek20-20";
amzn_assoc_search_bar_position = "bottom";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_search_phrase = "video games";
amzn_assoc_default_category = "All";
amzn_assoc_linkid = "369da13a5ffc26fa5d72363f7cb09914";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      </div>
    </div>
    <!-- /.row -->
<br/>
    <hr>
<br/>
    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Do any work in anywhere with these source of powerful laptops. We have researched all of the Amazon for the affordable yet guaranteed products...</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="https://www.amazon.com/s?k=Laptops&i=computers&camp=1789&creative=9325&linkCode=ur2&linkId=0f99c3a3e03af9acb236d54123e3b028&tag=ogabek20-20">Shop ShareGoods on Amazon</a>
      </div>
    </div>
    <br/><br/>
   


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Created by BekRashidov&Sardor &copy; 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'affiliate/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
